# cc65 linker configuration for ORIC-1
# Simple configuration for raw binary output

MEMORY {
    ZP:     start = $0000, size = $00FF, type = rw;
    RAM:    start = $0600, size = $B580, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp;
    CODE:     load = RAM, type = ro;
    RODATA:   load = RAM, type = ro;
    DATA:     load = RAM, type = rw;
    BSS:      load = RAM, type = bss, define = yes;
}
